{% extends 'zencheck/home.html'%}
{% load static %}
{% block content %}
<div class="aboutus-line">
    <h1 class="aboutus-title">At ZenCheck we are all about small businesses, beyond the P&L and balance sheet</h1>
</div>
<p class="aboutus-content">
    For too long small business owners have been overlooked by society despite the immense
    work required and the significant amount of stress they face. Here at ZenCheck we aim to alleviate
    the stress from being a small business owner, because a healthy owner leads to a healthy business. 
</p>
<p class="aboutus-close">
    At ZenCheck we care ❤️
</p>
{% endblock %}